<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Second</title>
    <style>
    body {
      display: flex;
      justify-content: center
    }
  </style>
</head>
<body>
      <table style="display: block;">
        <tr><th>Email</th><th>Name</th><th>Age</th><th></th></tr>
        {{#each users}}
            <tr>
                <td>{{this.email}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.age}}</td>
                <td>
                    <a href="/edit/{{this.id}}">Edit</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
</html>